input:not([type='checkbox']){
  width: 100%;
}
select{
  width:100%;
}
.topNav{
  border: thin solid #ccc;
  background: #dcdcdc;
}
.topNav .navbar-brand{
  border-right: thin solid #ccc;
}
.topNav .navbar-brand img{
  position: relative;
  top: -5px;
}
.topNav .navbar-nav{
  width: Calc(80% - 50px);
}