@import url(https://fonts.googleapis.com/css?family=Muli:400,300);a,body{color:#FF8100}header i,header span.unread{margin-left:20px;cursor:pointer}#right-panel a i,header span{vertical-align:middle}div.avatar,span#logo-icon{background-position:center}#icons ul,#left-panel,#right-panel,div.avatar,div.filter,span.icon{text-align:center}#icons ul:after,#icons ul:before,div.chat .bubble:after{content:""}#icons ul a:hover,a{text-decoration:none}.clear,.clearfix:after,.grid-100:after,.grid-10:after,.grid-15:after,.grid-20:after,.grid-25:after,.grid-30:after,.grid-33:after,.grid-35:after,.grid-40:after,.grid-45:after,.grid-50:after,.grid-55:after,.grid-5:after,.grid-60:after,.grid-65:after,.grid-66:after,.grid-70:after,.grid-75:after,.grid-80:after,.grid-85:after,.grid-90:after,.grid-95:after,.grid-container:after,.mobile-grid-100:after,.mobile-grid-10:after,.mobile-grid-15:after,.mobile-grid-20:after,.mobile-grid-25:after,.mobile-grid-30:after,.mobile-grid-33:after,.mobile-grid-35:after,.mobile-grid-40:after,.mobile-grid-45:after,.mobile-grid-50:after,.mobile-grid-55:after,.mobile-grid-5:after,.mobile-grid-60:after,.mobile-grid-65:after,.mobile-grid-66:after,.mobile-grid-70:after,.mobile-grid-75:after,.mobile-grid-80:after,.mobile-grid-85:after,.mobile-grid-90:after,.mobile-grid-95:after{clear:both}*{margin:0;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;font-family:Muli,sans-serif}a:hover{text-decoration:underline}.hidden{height:0;width:0;overflow:hidden}
#user{
    display: none;
}
.header-container{
    border-right: thin solid #999;
    position: fixed;
    width: 20%;
    background-color: #222;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
}
header,#right,#icons{
    height: Calc(100% - 120px) !important;
    display: block;
}
#right-panel a i,header span.unread{width:30px;line-height:30px;border-radius:20px}header{color:#ccc;font-size:24px;padding:10px}header span.heavy{color:#888;text-transform:uppercase;font-weight:700}header span.unread{color:#fff;display:inline-block;background-color:#FF8100;font-weight:400;height:30px;font-size:16px;text-align:center}header span.unread:hover{background-color:#fb911d}

header #left{
    text-align:left
}
header #right{
     text-align:center;
    padding:35px 10px;
    font-size: 15px;
}
#icons a{
    display: block;
    padding: 15px 20px;
    text-align: left;
    color: white;
    text-decoration: none;
}
#icons a:hover{
    background: rgba(255,255,255,0.5);
    color: #000 !important;
}
.arrow{
    float: right;
    color: white;
}
.grid-container, #right{
    padding:0px !important;
    width: 100%;
}
header i{display:inline-block;color:#666}header i:hover{color:#888}header i.unread{color:#FF8100}header i.unread:hover{color:#fb911d}#right-panel a i,span.icon{background-color:#ff8500;color:#fff}div.container.body{padding-top:124px}#wrapper{background-color:#f2f2f2;width:100%;max-width:100%;margin:0}#left-panel{padding-top:30px}#right-panel{padding:30px}#right-panel *{max-width:300px;margin-left:auto;margin-right:auto}#right-panel input{display:block;font-size:16px;font-weight:lighter;width:100%}#right-panel a{display:block;margin:20px auto}#right-panel a i{display:inline-block;margin-right:10px;height:30px}span#logo-icon{background-image:url(../images/icon.78f64292.png);background-repeat:no-repeat;display:block;margin:30px auto;width:250px;height:250px;background-color:#ff8500;border-radius:125px;border:8px solid #f5c690}span#message-icon{width:140px;height:140px;border:6px solid #f5c690;font-size:80px;line-height:130px}span.icon{display:inline-block;border-radius:50%}label{float:left;margin-bottom:10px;padding-left:10px}input,textarea{padding:12px 25px;border:none;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;margin:20px 0;outline:0;color:#ff8500;border-width:0}
button,input[type=submit]{cursor:pointer;background-color:#ff8500;color:#fff;border:4px solid #f5c690;outline:0}button{padding:10px 30px;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px}button:hover,input[type=submit]:hover{background-color:#F59A37}button.grey{background-color:#999;border-color:#ccc}button.grey:hover{background-color:#aaa}::-webkit-input-placeholder{color:#999}input.ng-invalid::-webkit-input-placeholder{color:#999}:-moz-placeholder{color:#999}input.ng-invalid:-moz-placeholder,textarea.ng-invalid:-moz-placeholder{color:#000}::-moz-placeholder{color:#FFCA94}input.ng-invalid::-moz-placeholder{color:#999}:-ms-input-placeholder{color:#999}input.ng-invalid:-ms-input-placeholder{color:#999}
#center-panel{
    background-color: #f9f9f9;
    min-height: 550px;
    width: 80%;
    left: 20%;
    /* max-width: 960px; */
    /* margin: 0 auto; */
    padding: 0px;
    display: inline-block;
    position: relative;
}
.subMessage{
    border-radius: 0;
}
.alert-panel{
    display: none;
}
.sButton{
    /*background-color: red !important;*/
    border-radius: 10px !important;
    border: 4px solid #ff8500 !important;
}
.inputBlock{
    background-color: rgb(34, 34, 34) !important;
    background: none !important;
    color: #999 !important;
    border-radius: 10px !important;
    border: 2px solid #999 !important;
}
.col{
    background: #222 !important;
    height: 100% !important;
    padding:  10% !important;
}
.blocky{
    display: block !important;
    float: none !important;
}
.left-right .grid-60{
    padding: 20px 0;
}
.message{
    cursor: pointer;
}
.message .arrow{
    color: #DADADA;
    font-size: 40px;
    position: relative;
    top: 20px;
}
#center-panel .message{padding:20px 20px;    border-bottom: #DADADA 1px solid;}#center-panel .message span.title{display:block;font-size:26px}#center-panel .message span.subtitle{display:block;color:#111;font-size:18px;margin:10px 0}#center-panel .message button{border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;padding:4px 10px;font-weight:700;float:right;margin:20px 0 0 10px}#chat{height:400px;overflow:auto;padding-top:20px;padding-bottom:60px}


div.chat{
    margin-bottom: 40px;
    position: relative;
    /* float: left; */
    padding: 0 20px;
    display: inline-block;
}
div.chat.right{}

.left{
    padding: 10px !important;
    background: #fff;
    width: Calc(100% - 180px );
}
.right{
    padding: 10px !important;
    width: Calc(100% - 180px );
    background: #DCD7D7 !important;
}
div.chat .bubble{
    word-break:break-word;
    color:#333;
    max-width:300px;
    display: block;
    padding: 10px;
    padding-bottom: 0;
}
div.chat .bubble:after{position:absolute;left:40px;border:10px solid transparent;border-top-color:#F59A37;display:none;width:0}


#chat .uProfile{
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}

div.chat.right .bubble{
}div.chat.right .bubble:after{border-top-color:#999;right:40px;left:auto}

div.chat span.date{
    color:#999;
    padding:10px;
    float:left
}
div.chat.right span.date{
    float:left
}

div.chat-controls{position:absolute;bottom:10px;width:100%;padding-left:20px;background-color:#f9f9f9}div.chat-controls input,textarea{border:1px solid #FFCA94;width:calc(100% - 200px)}div.chat-controls button{position:absolute;right:30px;margin-top:20px}div.question{color:#999;border-bottom:1px solid #ddd;padding:20px 10px;cursor:pointer}div.question:hover{background-color:#FFCA94;color:#fff}div.question span.price{font-weight:700;float:right;margin-right:20px}div.question.total{border-bottom:none;border-top:2px solid #ddd;cursor:default}div.question.total:hover{background-color:transparent;color:#999}div.filter{padding:10px;width:100%;margin-bottom:40px}div.filter span{color:#ff8500;display:inline-block;padding:10px 20px;border:2px solid #ff8500;border-right:none;cursor:pointer}div.filter span:hover{background-color:#ffe8d0}div.filter span.active{color:#fff;background-color:#ff8500}div.filter span:first-child{border-radius:20px 0 0 20px;-webkit-border-radius:20px 0 0 20px;-moz-border-radius:20px 0 0 20px}div.filter span:last-child{border-right:2px solid #ff8500;border-radius:0 20px 20px 0;-webkit-border-radius:0 20px 20px 0;-moz-border-radius:0 20px 20px 0}input.ng-invalid,textarea.ng-invalid{background-color:#fcc;border:2px solid #f66;color:#000}input.ng-invalid+div p{color:red;font-size:14px;margin-bottom:15px}div.avatar{width:200px;height:200px;margin:20px auto;background-size:cover;border-radius:200px;border:8px solid #f5c690;background-color:#ff8500;color:#fff;font-size:120px;padding-top:20px}#icons{position:relative}#icons ul{list-style:none;font-size:14px;position:absolute;left:57%;top:50px;z-index:1;display:none}#icons ul:before{position:absolute;left:35%;top:-24px;display:inline-block;width:0;border:12px solid transparent;border-bottom-color:#ddd}#icons ul:after{position:absolute;left:37%;top:-18px;display:inline-block;width:0;border:10px solid transparent;border-bottom-color:#f2f2f2}#icons ul a{display:block;padding:10px 20px;border:2px solid #ddd;border-bottom:none;background-color:#f2f2f2;color:#888;cursor:pointer}#icons ul a:hover{background-color:#eee}#icons ul a:first-child{border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0}#icons ul a:last-child{border-bottom:2px solid #ddd;border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px}.growl-item{position:fixed;top:124px;z-index:999999999}@media (max-width:400px){@-ms-viewport{width:320px}}.clear{display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after,.clearfix:before,.grid-100:after,.grid-100:before,.grid-10:after,.grid-10:before,.grid-15:after,.grid-15:before,.grid-20:after,.grid-20:before,.grid-25:after,.grid-25:before,.grid-30:after,.grid-30:before,.grid-33:after,.grid-33:before,.grid-35:after,.grid-35:before,.grid-40:after,.grid-40:before,.grid-45:after,.grid-45:before,.grid-50:after,.grid-50:before,.grid-55:after,.grid-55:before,.grid-5:after,.grid-5:before,.grid-60:after,.grid-60:before,.grid-65:after,.grid-65:before,.grid-66:after,.grid-66:before,.grid-70:after,.grid-70:before,.grid-75:after,.grid-75:before,.grid-80:after,.grid-80:before,.grid-85:after,.grid-85:before,.grid-90:after,.grid-90:before,.grid-95:after,.grid-95:before,.grid-container:after,.grid-container:before,.mobile-grid-100:after,.mobile-grid-100:before,.mobile-grid-10:after,.mobile-grid-10:before,.mobile-grid-15:after,.mobile-grid-15:before,.mobile-grid-20:after,.mobile-grid-20:before,.mobile-grid-25:after,.mobile-grid-25:before,.mobile-grid-30:after,.mobile-grid-30:before,.mobile-grid-33:after,.mobile-grid-33:before,.mobile-grid-35:after,.mobile-grid-35:before,.mobile-grid-40:after,.mobile-grid-40:before,.mobile-grid-45:after,.mobile-grid-45:before,.mobile-grid-50:after,.mobile-grid-50:before,.mobile-grid-55:after,.mobile-grid-55:before,.mobile-grid-5:after,.mobile-grid-5:before,.mobile-grid-60:after,.mobile-grid-60:before,.mobile-grid-65:after,.mobile-grid-65:before,.mobile-grid-66:after,.mobile-grid-66:before,.mobile-grid-70:after,.mobile-grid-70:before,.mobile-grid-75:after,.mobile-grid-75:before,.mobile-grid-80:after,.mobile-grid-80:before,.mobile-grid-85:after,.mobile-grid-85:before,.mobile-grid-90:after,.mobile-grid-90:before,.mobile-grid-95:after,.mobile-grid-95:before{content:".";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.grid-container{margin-left:auto;margin-right:auto;max-width:1200px;padding-left:10px;padding-right:10px}.grid-10,.grid-100,.grid-15,.grid-20,.grid-25,.grid-30,.grid-33,.grid-35,.grid-40,.grid-45,.grid-5,.grid-50,.grid-55,.grid-60,.grid-65,.grid-66,.grid-70,.grid-75,.grid-80,.grid-85,.grid-90,.grid-95,.mobile-grid-10,.mobile-grid-100,.mobile-grid-15,.mobile-grid-20,.mobile-grid-25,.mobile-grid-30,.mobile-grid-33,.mobile-grid-35,.mobile-grid-40,.mobile-grid-45,.mobile-grid-5,.mobile-grid-50,.mobile-grid-55,.mobile-grid-60,.mobile-grid-65,.mobile-grid-66,.mobile-grid-70,.mobile-grid-75,.mobile-grid-80,.mobile-grid-85,.mobile-grid-90,.mobile-grid-95{box-sizing:border-box;padding-left:10px;padding-right:10px}.grid-parent{padding-left:0;padding-right:0}@media (max-width:767px){.mobile-pull-10,.mobile-pull-15,.mobile-pull-20,.mobile-pull-25,.mobile-pull-30,.mobile-pull-33,.mobile-pull-35,.mobile-pull-40,.mobile-pull-45,.mobile-pull-5,.mobile-pull-50,.mobile-pull-55,.mobile-pull-60,.mobile-pull-65,.mobile-pull-66,.mobile-pull-70,.mobile-pull-75,.mobile-pull-80,.mobile-pull-85,.mobile-pull-90,.mobile-pull-95,.mobile-push-10,.mobile-push-15,.mobile-push-20,.mobile-push-25,.mobile-push-30,.mobile-push-33,.mobile-push-35,.mobile-push-40,.mobile-push-45,.mobile-push-5,.mobile-push-50,.mobile-push-55,.mobile-push-60,.mobile-push-65,.mobile-push-66,.mobile-push-70,.mobile-push-75,.mobile-push-80,.mobile-push-85,.mobile-push-90,.mobile-push-95{position:relative}.hide-on-mobile{display:none!important}.mobile-grid-5{float:left;width:5%}.mobile-prefix-5{margin-left:5%}.mobile-suffix-5{margin-right:5%}.mobile-push-5{left:5%}.mobile-pull-5{left:-5%}.mobile-grid-10{float:left;width:10%}.mobile-prefix-10{margin-left:10%}.mobile-suffix-10{margin-right:10%}.mobile-push-10{left:10%}.mobile-pull-10{left:-10%}.mobile-grid-15{float:left;width:15%}.mobile-prefix-15{margin-left:15%}.mobile-suffix-15{margin-right:15%}.mobile-push-15{left:15%}.mobile-pull-15{left:-15%}.mobile-grid-20{float:left;width:20%}.mobile-prefix-20{margin-left:20%}.mobile-suffix-20{margin-right:20%}.mobile-push-20{left:20%}.mobile-pull-20{left:-20%}.mobile-grid-25{float:left;width:25%}.mobile-prefix-25{margin-left:25%}.mobile-suffix-25{margin-right:25%}.mobile-push-25{left:25%}.mobile-pull-25{left:-25%}.mobile-grid-30{float:left;width:30%}.mobile-prefix-30{margin-left:30%}.mobile-suffix-30{margin-right:30%}.mobile-push-30{left:30%}.mobile-pull-30{left:-30%}.mobile-grid-35{float:left;width:35%}.mobile-prefix-35{margin-left:35%}.mobile-suffix-35{margin-right:35%}.mobile-push-35{left:35%}.mobile-pull-35{left:-35%}.mobile-grid-40{float:left;width:40%}.mobile-prefix-40{margin-left:40%}.mobile-suffix-40{margin-right:40%}.mobile-push-40{left:40%}.mobile-pull-40{left:-40%}.mobile-grid-45{float:left;width:45%}.mobile-prefix-45{margin-left:45%}.mobile-suffix-45{margin-right:45%}.mobile-push-45{left:45%}.mobile-pull-45{left:-45%}.mobile-grid-50{float:left;width:50%}.mobile-prefix-50{margin-left:50%}.mobile-suffix-50{margin-right:50%}.mobile-push-50{left:50%}.mobile-pull-50{left:-50%}.mobile-grid-55{float:left;width:55%}.mobile-prefix-55{margin-left:55%}.mobile-suffix-55{margin-right:55%}.mobile-push-55{left:55%}.mobile-pull-55{left:-55%}.mobile-grid-60{float:left;width:60%}.mobile-prefix-60{margin-left:60%}.mobile-suffix-60{margin-right:60%}.mobile-push-60{left:60%}.mobile-pull-60{left:-60%}.mobile-grid-65{float:left;width:65%}.mobile-prefix-65{margin-left:65%}.mobile-suffix-65{margin-right:65%}.mobile-push-65{left:65%}.mobile-pull-65{left:-65%}.mobile-grid-70{float:left;width:70%}.mobile-prefix-70{margin-left:70%}.mobile-suffix-70{margin-right:70%}.mobile-push-70{left:70%}.mobile-pull-70{left:-70%}.mobile-grid-75{float:left;width:75%}.mobile-prefix-75{margin-left:75%}.mobile-suffix-75{margin-right:75%}.mobile-push-75{left:75%}.mobile-pull-75{left:-75%}.mobile-grid-80{float:left;width:80%}.mobile-prefix-80{margin-left:80%}.mobile-suffix-80{margin-right:80%}.mobile-push-80{left:80%}.mobile-pull-80{left:-80%}.mobile-grid-85{float:left;width:85%}.mobile-prefix-85{margin-left:85%}.mobile-suffix-85{margin-right:85%}.mobile-push-85{left:85%}.mobile-pull-85{left:-85%}.mobile-grid-90{float:left;width:90%}.mobile-prefix-90{margin-left:90%}.mobile-suffix-90{margin-right:90%}.mobile-push-90{left:90%}.mobile-pull-90{left:-90%}.mobile-grid-95{float:left;width:95%}.mobile-prefix-95{margin-left:95%}.mobile-suffix-95{margin-right:95%}.mobile-push-95{left:95%}.mobile-pull-95{left:-95%}.mobile-grid-33{float:left;width:33.33333%}.mobile-prefix-33{margin-left:33.33333%}.mobile-suffix-33{margin-right:33.33333%}.mobile-push-33{left:33.33333%}.mobile-pull-33{left:-33.33333%}.mobile-grid-66{float:left;width:66.66667%}.mobile-prefix-66{margin-left:66.66667%}.mobile-suffix-66{margin-right:66.66667%}.mobile-push-66{left:66.66667%}.mobile-pull-66{left:-66.66667%}.mobile-grid-100{clear:both;width:100%}}@media (min-width:768px){.grid-10,.grid-15,.grid-20,.grid-25,.grid-30,.grid-33,.grid-35,.grid-40,.grid-45,.grid-5,.grid-50,.grid-60,.grid-65,.grid-66,.grid-70,.grid-75,.grid-80,.grid-85,.grid-90,.grid-95{float:left}.pull-10,.pull-15,.pull-20,.pull-25,.pull-30,.pull-33,.pull-35,.pull-40,.pull-45,.pull-5,.pull-50,.pull-55,.pull-60,.pull-65,.pull-66,.pull-70,.pull-75,.pull-80,.pull-85,.pull-90,.pull-95,.push-10,.push-15,.push-20,.push-25,.push-30,.push-33,.push-35,.push-40,.push-45,.push-5,.push-50,.push-55,.push-60,.push-65,.push-66,.push-70,.push-75,.push-80,.push-85,.push-90,.push-95{position:relative}.hide-on-desktop{display:none!important}.grid-5{width:5%}.prefix-5{margin-left:5%}.suffix-5{margin-right:5%}.push-5{left:5%}.pull-5{left:-5%}.grid-10{width:10%}.prefix-10{margin-left:10%}.suffix-10{margin-right:10%}.push-10{left:10%}.pull-10{left:-10%}.grid-15{width:15%}.prefix-15{margin-left:15%}.suffix-15{margin-right:15%}.push-15{left:15%}.pull-15{left:-15%}.grid-20{width:20%}.prefix-20{margin-left:20%}.suffix-20{margin-right:20%}.push-20{left:20%}.pull-20{left:-20%}.grid-25{width:25%}.prefix-25{margin-left:25%}.suffix-25{margin-right:25%}.push-25{left:25%}.pull-25{left:-25%}.grid-30{width:30%}.prefix-30{margin-left:30%}.suffix-30{margin-right:30%}.push-30{left:30%}.pull-30{left:-30%}.grid-35{width:35%}.prefix-35{margin-left:35%}.suffix-35{margin-right:35%}.push-35{left:35%}.pull-35{left:-35%}.grid-40{width:40%}.prefix-40{margin-left:40%}.suffix-40{margin-right:40%}.push-40{left:40%}.pull-40{left:-40%}.grid-45{width:45%}.prefix-45{margin-left:45%}.suffix-45{margin-right:45%}.push-45{left:45%}.pull-45{left:-45%}.grid-50{width:auto}.prefix-50{margin-left:50%}.suffix-50{margin-right:50%}.push-50{left:50%}.pull-50{left:-50%}.grid-55{float:left;width:55%}.prefix-55{margin-left:55%}.suffix-55{margin-right:55%}.push-55{left:55%}.pull-55{left:-55%}.grid-60{width:60%}.prefix-60{margin-left:60%}.suffix-60{margin-right:60%}.push-60{left:60%}.pull-60{left:-60%}.grid-65{width:65%}.prefix-65{margin-left:65%}.suffix-65{margin-right:65%}.push-65{left:65%}.pull-65{left:-65%}.grid-70{width:70%}.prefix-70{margin-left:70%}.suffix-70{margin-right:70%}.push-70{left:70%}.pull-70{left:-70%}.grid-75{width:75%}.prefix-75{margin-left:75%}.suffix-75{margin-right:75%}.push-75{left:75%}.pull-75{left:-75%}.grid-80{width:80%}.prefix-80{margin-left:80%}.suffix-80{margin-right:80%}.push-80{left:80%}.pull-80{left:-80%}.grid-85{width:85%}.prefix-85{margin-left:85%}.suffix-85{margin-right:85%}.push-85{left:85%}.pull-85{left:-85%}.grid-90{width:90%}.prefix-90{margin-left:90%}.suffix-90{margin-right:90%}.push-90{left:90%}.pull-90{left:-90%}.grid-95{width:95%}.prefix-95{margin-left:95%}.suffix-95{margin-right:95%}.push-95{left:95%}.pull-95{left:-95%}.grid-33{width:33.33333%}.prefix-33{margin-left:33.33333%}.suffix-33{margin-right:33.33333%}.push-33{left:33.33333%}.pull-33{left:-33.33333%}.grid-66{width:66.66667%}.prefix-66{margin-left:66.66667%}.suffix-66{margin-right:66.66667%}.push-66{left:66.66667%}.pull-66{left:-66.66667%}.grid-100{clear:both;width:100%}}@media all and (max-width:767px){.message .subtitle,.message .title,header #left,header #right{text-align:center}header #icons{display:block;margin-top:10px}.message div:first-child{text-align:center;margin-bottom:20px}.message button{display:block;float:none!important;margin:20px auto!important}}
#leftt-panel{
	background: white;
    width: 31%;
    height: 500px;
    display: inline-block;
    min-height: 800px;
}
#leftt-panel h3{
	margin-top: 30px;
	margin-bottom: 30px;

}
.uProfile{
    height: 100px;
    width: 100px;
    border-radius: 200px;
    border: 2px solid #999;
    margin: auto;
    text-align: center;
    display: block;
}
#rightt-panel{
    width: Calc(67.5% - 40px);
    display: inline-block;
    vertical-align: top;
    min-height: 800px;
    height: auto;
    margin: 20px;
    background-color: white;
    padding: 20px;
}
#chat{
    height: 550px;
    width: 100%;
    padding: 0 40px;
}
.q-panel{
	width: 100%;
	display:inline-block;
	text-align: left;
}
.media-panel{
	width: 100%;
	display:inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	border-bottom: thin solid #E6E6E6;
}
.media-panel div{
    height: 60px;
    width: 60px;
    border: thin solid #888;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    background-color: #999;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0 10px 10px;
    float:left;
    font-size: 12px;

}
p{
    color:#111;
}
span{
    color: #555;
}
.row div{
	vertical-align: top;
}
#leftt-panel{
    height: auto;
    /* margin-bottom: 190px; */
    padding-bottom: 30px;
    margin: 20px;
    padding: 20px;
    background: white;
    width: Calc(31% - 40px);

}
.genForm{
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000000000 !important;
    width: 55%;
    height: 100%;
    padding: 20px;
    display:none;
}
.closeMe{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: red;
    /* width: 36px; */
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    float: right;
}
.openReport{
    width: 95%;
    text-align: center;
    background-color: #ACACF1;
    color: white;
    padding: 10px;
}
textarea{
	width: 100%;
}

.chat-controls {
    position: fixed !important;
    bottom: 0;
    width: Calc(52% - 11px) !important;
    border-top:10px solid #F9F9F9;
    right: 32px !important;
    padding: 0;
    /* padding-left: 20px; */
    background-color: #fff !important;
}
.chat-controls input, textarea{
	width: 95% !important;
}
.left-right{
    width: 40%;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.left-right input, .left-right label{
    display: inline-block !important;
    padding: 1px 20px !important;
    border-radius: 0 !important;
    float: none !important;
    margin: 10px 0 !important;
    text-align: left;
}
.prof{
    margin: auto;
    width: 100%;
    text-align: center;
}
.prof button{
    background-color: #999;
    border-color: none;
    border: none;
    border-radius: 5px;
}
.left-right span,.left-right form{
    width: 100%;
    max-width: none !important;
}

.uName{
    color: #999;
}
.left-right span{
    border-bottom: thin solid #999 !important;
}
.left-right input{
    width: 58% !important;
    max-width: none !important;
}
.left-right label{
    width: 40% !important;
    max-width: none !important;
    color: #999;
}
.left-right input[type='submit']{
    margin-top: 40px;
    padding: 10px !important;
    text-align: center;
    position: relative;
    left: -32px;
    bottom: -40px;
    /* border-bottom-left-radius: 10px !important; */
    /* border-bottom-right-radius: 10px !important; */
    width: Calc(100% + 62px) !important;
    border: none !important;
}
.left-right .icon,.left-right .icon img{
    width: 80px !important;
    height: 80px !important;
    border: none !important;
    border-radius: 100px;
    font-size: 80px;
    line-height: 130px;
    background: none !important;
}
#left img{
	height: 50px !important;
}

div.container.body {
    padding-top: 0 !important;
}
#pTitle{
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    border-bottom: thin solid #DADADA;
    color: #999;
    text-align: left;
}
.alert-panel{
	text-align: center;
}
.mBoard{
    margin: 20px;
}
.mBoard .left-right{
    margin: 0 !important;
    border-radius: 0 !important;
}
.message span{
    border: none !important;
}